<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="./static/style.css">

    <script>
    function showDiv(id) {
    console.log(id)
    id.hidden = !id.hidden
    }
   // Proposition de ChatGPT pour un SELECT dynamique
    document.addEventListener('DOMContentLoaded', function() {
        const selectTheme = document.getElementById('theme-select');
        const monFormulaire = document.getElementById('monFormulaire');

        selectTheme.addEventListener('change', function() {
            monFormulaire.submit();
        });
    });
    </script>

</head>
<body>

<div class="container">
  <div class="top">

  <h1>Découverte de UVICORN, FASTAPI et JINJA2</h1>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const modeButton = document.getElementById("modeButton");
      const body = document.body;

      modeButton.addEventListener("click", function() {
        body.classList.toggle("dark-mode");
      });
    });
  </script>

<form id="monFormulaire" action="/" method="get">
  <label for="article-search">Recherche:</label>
  <input type="search" id="article-search" name="cible" minlength="0" maxlength="50" size="30">
    <input class="bouton" type="submit" value="Trouver">

    <label for="theme-select"> ou choisissez un thème : </label>
    <select class="bouton" name="rep" id="theme-select" type="submit">
        {% for theme in liste_repertoire %}
            <option value="{{theme}}">
                {% if theme|length == 0 %}
                    Tout
                {% else %}
                    {{theme.title()}}
                {% endif %}
            </option>
        {% endfor %}
    </select>
	
<button id="modeButton">Changer le mode</button>
</form>
  </div>

  <div class="flex-container">
    <div class="fixed-left">Contenu fixe à gauche</div>
    <div class="flex-item">
           <div class="containerArticles">
          {% if cours.keys()|length != 0 %}
                {% for index in cours.keys() %}
                  <p style="margin:0px;padding:0px;">&nbsp;</p>
                  <div class="article">
                  <div>{{ cours[index][1][cours[index][1].find("<h1>")+4:cours[index][1].find("</h1>")] }}</div>
                  <div id={{index}} hidden>  {{cours[index][1]|safe}} </div>
                  <input class="bouton" type="button" name="answer" value="Voir" onclick="showDiv({{index}})" />
                  </div>
                {% endfor %}
          {% endif %}
           </div>
     </div>
  </div>
</div>
</body>
</html>